

.o_form_view .o_form_statusbar > .o_statusbar_status > .o_arrow_button.btn-primary.disabled {
    color: #0C3C60;
}

.o_required_modifier.o_input, .o_required_modifier .o_input {
    background-color: #F4F5CF!important;
}

/*dropdown component*/
.ui-autocomplete .ui-menu-item.ui-state-focus {
    background-color: #0C3C60;
}

.ui-autocomplete .ui-menu-item.o_m2o_dropdown_option > a {
    color: #0C3C60;
}

/*tables*/

.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #F4F5CF;
}

/*Serach View*/
.o_searchview .o_searchview_autocomplete li.o-selection-focus {
    background-color: #0C3C60;
}

.o_loading {
    background-color: #F4F5CF;
    color: #0C3C60;
}